nav
{
    max-width:none;
    width:100vw;
    height:24vw;
    margin-left:0vw;
    margin-bottom:6vw;
    justify-content:space-evenly;
}

nav img
{
    flex-grow:3.75vw;
    left:4.5vw;
    width:19.8vw;
    padding-top:2vw;
    position:absolute;
}

nav a
{
    font-size:3.5vw;
    width:25vw;
}

nav a:nth-child(4) /* inscription */
{
    order:2;
    margin-left:60vw;
    text-align:right;
}

nav a:nth-child(2) /* hébergements */
{
    order:3;
    border-bottom:3px solid #F2F2F2;
    border-top:transparent;
    flex-grow:3.75;
}

nav a:nth-child(3) /* activites */
{
    order:4;
    border-bottom:3px solid #F2F2F2;
    border-top:transparent;
    flex-grow:3.75;
}

nav a:nth-child(4n+1):hover
{
    border-bottom:3px solid #0065FC;
}

.bloc-tete /* ensemble "Trouvez votre hébergement..." jusqu'à "....logements disponibles"*/
{
    font-size:3vw;
}

.bloc-tete h1 /* "Trouvez votre hébergement... */
{
    
    font-size:3.75vw;
    line-height:1.2;
}

#local
{
    margin-top:6vw;
}

#local img /* logo géographique */
{
    width:2.55vw;
    padding-top:3vw;
    padding-bottom:3vw;
    padding-left:3.9vw;
    padding-right:3.9vw;
}

#local input[type="text"]
{
    width:65vw;
    height:11vw;
    padding-left:3vw;
    font-size:4vw;
}

#search_large /* effacer bouton recherche large */
{
    display:none;
}

#search_small /*afficher bouton recherche small */
{
    display:block;
    width:11.25vw;
    height:11.25vw;
}

#bloc-filtres /* bloc contenant les 4 filtres */
{
    width:70vw;
    row-gap:3vw;
    column-gap:3vw;
}

#titre-filtre /* inscription "filtres" devant les filtres */
{
    height:3vw;
    width:12vw;
    padding-top:3vw;
    font-size:3vw;
    margin-right:50vw;
}

#f1,#f2,#f3,#f4 /* boîtes de chaque filtres */
{
    height:8.25vw;
}

#f1 img,#f2 img,#f3 img,#f4 img /* logos des filtres */
{
    width:4.05vw;
    height:4.05vw;
    padding:2.25vw;
}

#f1 input[type="button"],#f2 input[type="button"],#f3 input[type="button"],#f4 input[type="button"] /* partie bouton des filtres */
{
    height:7.5vw;
    font-size:3vw;
    bottom:3vw;
    margin-right:3vw;
}

#disponible /* Résultat des logements disponibles */
{
    margin-top:6vw;
    height:6vw;
    margin-bottom:3vw;
    font-size:3vw;
}

#disponible img /* logo "i" */
{
    padding:0.75vw;
    width:2.25vw;
    height:2.25vw;
    margin-right:1.5vw;
    bottom:0.75vw;
}

main
{
    flex-direction:column;
}

.bloc-hebergement,.bloc-populaire
{
    row-gap:1vw;flex-direction:column;
}

.bloc-activite
{
    height:auto;
}

.bloc-titre /* bloc titres des 3 sections */
{
    height:12vw;
}

.titre /* Hébergement à, Les plus populaires, Activités à*/
{
    font-size:3.6vw;
    height:5.4vw;
}

.titre-icone /* graph sur "les plus populaires" */
{
    width:4.2vw;
    margin-right:2.7vw;
}

.vignette-hebergement
{
    width:95vw;
}

.image-vignette-hebergement
{
    width:93vw;
    height:45vw;
    padding:1vw;
}

.description,.tarif /* tarifs */
{
    padding-left:3.5vw;
    padding-bottom:1vw;
    font-size:4vw;
}

[class^="note"] /* boite des notations par étoiles */
{
    width:19vw;
    height:2.5vw;
    background-position-x: 3vw,6vw,9vw,12vw,15vw;
    margin-bottom:1.5vw;
}

#afficher /* "afficher plus" */
{
    margin-top:6vw;
    font-size:3vw;
}

.vignette-populaire
{
    width:95vw;
    height:35vw;
}

.image-vignette-populaire
{
    width:30vw;
    height:33vw;
    padding:1vw;
}

#populaires .description,#activites .description /* espace au-dessus des noms des hébergements populaires et activités*/
{
    padding-top:3vw;
    height:7vw;
}

#populaires .description /* Etalement du nom d'hébergement sur 2 lignes */
{
    height:14vw;
}

.vignette-populaire [class^="note"] /* déclage de la note vers la droite et bas dans vignette populaire*/
{
    margin-left:30vw;
    margin-top:10vw;
}

#activites
{
    margin-left:1.5vw;
    padding:0vw;
}

.vignette-activite
{
    margin-bottom:4vw;
}

.vignette-activite img
{
    width:95vw;
    height:calc(100% - 12vw);
}

.vignette-activite:nth-child(1n+1)
{
    height:45vw;
    width:95vw;
}

#hebergements,#populaires,#activites
{
    width:100vw;
    margin-left:0vw;
    padding:1.5vw;
    border-radius:0px;
}

footer
{
    width:100vw;
    margin-top:2vw;
}

.foot_colonne /* les 3 colonnes dans le pied de page */
{
    display:block;
    width:100vw;
}

footer h3 /* titres des 3 colonnes du pied de page */
{
    font-size:3vw;
    margin-top:4vw;
    margin-bottom:1.3vw;
    padding-left:3.5vw;
}

footer a
{
    font-size:3vw;
    padding-left:3.5vw;
    padding-top:1.5vw;
}

#hebergements /*boîte hebergement passe après la boîte populaire*/
{
    order:2;
    background-color:white;
}
