@font-face
{
    font-family:"Raleway";
    src:url("fonts/Raleway-VariableFont_wght.ttf");
}

*
{
    font-family:Raleway;
}

body
{
    margin:0vw;
}


nav /* menu de navigation "hébergements, activités, inscription" + logo site */
{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    max-width:95vw;
    height:7vw;
    justify-content:flex-end;
    margin-left:2vw;
}

nav a
{
    width:9vw;
    padding-top:2vw;
    font-size:1vw;
    text-align:center;
    text-decoration:none;
    color:#0065FC;
    border-top:3px solid transparent;
}

nav a:nth-child(2),nav a:nth-child(3) /* lien hébergement et activités dans le menu */
{
    color:black;
}

nav a:nth-child(2):hover,nav a:nth-child(3):hover /* effets au survol des liens dans le menu */
{
    border-color:#0065FC;
    color:#0065FC;
}

nav img /* logo Reservia du menu */
{
    width:6.6vw;
    padding-top:2vw;
    position:absolute;
    left:3.5vw;
}

.bloc-tete /* ensemble "Trouvez votre hébergement..." jusqu'à "....logements disponibles"*/
{
    margin-left:3.5vw;
    font-size:1vw;
}

.bloc-tete h1 /* "Trouvez votre hébergement... */
{
    font-size:1.25vw;
    font-weight: bolder;
    line-height:0.25;
}

#local /* bloc barre de recherche */
{
    display:flex;
    margin-bottom:2vw
}

#local img /* logo géographique */
{
    width:0.85vw;
    padding-top:1vw;
    padding-bottom:1vw;
    padding-left:1.3vw;
    padding-right:1.3vw;
    background-color:#F2F2F2;
    border-radius:15px 0px 0px 15px;
}

#local input[type="text"] /* champs de recherche */
{
    width:12vw;
    height:3vw;
    font-weight:bold;
    font-size:larger;
    padding-left:1vw;
    border-top:1px solid #F2F2F2;
    border-bottom:1px solid #F2F2F2;
    border-left:transparent;
    border-right:transparent;
}

#search_large /* bouton recherche page normale*/
{
    background-color:#0065FC;
    color:white;
    font-weight:bold;
    font-size:1vw;
    width:7vw;
    height:3.2vw;
    border-radius:0px 15px 15px 0px;
    border:none;
}

#search_small /* bouton recherche format smartphone */
{
    display:none;
    width:3.75vw;
    height:3.75vw;
    border-radius:25%;
    background-color:#0065FC;
    background-image:url("icons/search-solid.svg");
    background-repeat:no-repeat;
    background-position:50%;
    background-size:33%;
    border:none;
}

#titre-filtre /* inscription "filtres" devant les filtres */
{
    height:2.75vw;
    width:4vw;
    padding-top:1vw;
}

#bloc-filtres /* bloc contenant les 4 filtres */
{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    row-gap:1vw;
    column-gap:1vw;
}

#f1,#f2,#f3,#f4 /* boîtes de chaque filtres */
{
    border:3px solid #F2F2F2;
    border-radius:400px;
    height:2.75vw;
}

#f1 img,#f2 img,#f3 img,#f4 img /* logos des filtres */
{
    width:1.35vw;
    height:1.35vw;
    background-color:#DEEBFF;
    border-radius:50%;
    padding:0.75vw;
}

#f1:hover,#f2:hover,#f3:hover,#f4:hover /* changer la couleur des boîtes filtres au survol */
{
    background-color: #0065FC;
}

#f1 input[type="button"],#f2 input[type="button"],#f3 input[type="button"],#f4 input[type="button"] /* partie bouton des filtres */
{
    border:none;
    background-color:inherit; 
    height:2.5vw;
    font-weight:bold;
    font-size:1vw;
    position:relative;
    bottom:1vw;
    margin-right:1vw;
}

#disponible /* Résultat des logements disponibles */
{
    margin-top:2vw;
    height: 2vw;
    margin-bottom:1vw;
    font-size:1vw;
}

#disponible img /* logo "i" */
{
    padding:0.25vw;
    width:0.75vw;
    height:0.75vw;
    border-radius:50%;
    border:1px solid gray;
    float:left;
    margin-right:0.5vw;
    position:relative;
    bottom:0.25vw;
}

#disponible p /* phrase de résulats */
{
    display:inline;
}

main /* activites et populaires */
{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}

#hebergements, #populaires
{
    margin-top:1vw;
    display:inline-block;
    background-color:#F2F2F2;
    border-radius:20px;
    padding:2.5vw;
}

#hebergements
{
    width:56.25vw;
    margin-left:3.5vw;
    margin-right:1.25vw;
}

.bloc-titre /* bloc titres des 3 sections */
{
    display:flex;
    height:3.5vw;
    justify-content:space-between;
}

.titre /* Hébergement à, Les plus populaires, Activités à*/
{
    font-size:1.2vw;
    height:1.8vw;
    box-sizing:border-box;
}

.titre-icone /* graph sur "les plus populaires" */
{
    width:1.4vw;
    margin-right:0.9vw;
}

.bloc-hebergement
{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    row-gap:2.5vw;
    column-gap:2.5vw;
}

.vignette-hebergement
{
    width:17.08vw;
    /*height:13.82vw;*/
    background-color:white;
    border-radius:20px;
    box-shadow:0em 0em 1em lightgray;
    display:inline-block;
}

article a /* vignettes cliquables */
{
    width:100%;
    height:100%;
    display:inline-block;
    text-decoration:none;
    color:black;
}

.image-vignette-hebergement /* images des vignettes hébergements */
{
    width:16.53vw;
    height:7.92vw;
    border-radius:20px 20px 0px 0px;
    padding:0.3vw;
    object-fit:cover;
}

.description /* noms des lieux d'hébergements ou d'activités */
{
    font-weight:bolder;
}

.description,.tarif /* tarifs */
{
    padding-left:1vw;
    padding-bottom:0.4vw;
    box-sizing:border-box;
    font-size:1.1vw;
}

[class^="note"] /* boite des notations par étoiles */
{
    width:5vw;
    height:0.7vw;
    background-position-x: 1vw,1.8vw,2.6vw,3.4vw,4.2vw;
    background-repeat:no-repeat;
    margin-bottom:0.5vw;
}

/* étoiles bleues ou grises en fonction des notes */
.note1{background-image:url("icons/star-solid_b.svg"),url("icons/star-solid_g.svg"),url("icons/star-solid_g.svg"),url("icons/star-solid_g.svg"),url("icons/star-solid_g.svg");}
.note2{background-image:url("icons/star-solid_b.svg"),url("icons/star-solid_b.svg"),url("icons/star-solid_g.svg"),url("icons/star-solid_g.svg"),url("icons/star-solid_g.svg");}
.note3{background-image:url("icons/star-solid_b.svg"),url("icons/star-solid_b.svg"),url("icons/star-solid_b.svg"),url("icons/star-solid_g.svg"),url("icons/star-solid_g.svg");}
.note4{background-image:url("icons/star-solid_b.svg"),url("icons/star-solid_b.svg"),url("icons/star-solid_b.svg"),url("icons/star-solid_b.svg"),url("icons/star-solid_g.svg");}
.note5{background-image:url("icons/star-solid_b.svg"),url("icons/star-solid_b.svg"),url("icons/star-solid_b.svg"),url("icons/star-solid_b.svg"),url("icons/star-solid_b.svg");}

#afficher /* "afficher plus" */
{
    margin-top:2vw;
    font-size:1vw;
    background-color:transparent;
    font-weight:bolder;
    border:none;
}

#populaires
{
    margin-right:3.5vw;
}

.bloc-populaire
{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    row-gap:2.5vw;
}

.vignette-populaire
{
    width:23.82vw;
    /*height:8.5vw;*/
    background-color:white;
    border-radius:20px;
}

.image-vignette-populaire
{
    width:8vw;
    height:8.4vw;
    /*box-sizing:border-box;*/
    border-radius:20px 0px 0px 20px;
    padding:0.3vw;
    margin-right:1vw;
    float:left;
    object-fit:cover;
}

#populaires .description,#activites .description /* espace au-dessus des noms des hébergements populaires et activités*/
{
    padding-top:1vw;
    height:2.5vw;
}

#populaires .description, #populaires .tarif /* noms des lieux d'hébergements et tarifs catégorie "populaires" */
{
    width:95%;
}

#populaires .description /* Etalement du nom d'hébergement sur 2 lignes */
{
    height:4vw;
}

.vignette-populaire [class^="note"] /* déclage de la note vers la droite et bas dans vignette populaire*/
{
    margin-left:8.5vw;
    margin-top:1.75vw;
}

#activites
{
    margin-left:3.5vw;
    margin-top:3.5vw;
}

.bloc-activite
{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    /*column-gap:3.125vw;*/
    height:33.72vw;
}

.vignette-activite
{
    width:21vw;
    border-radius:20px 20px 20px 20px;
    background-color:white;
    box-shadow:0em 0em 1em lightgray;
    margin-bottom:2.8vw;
}

.vignette-activite img
{
    display:block;
    width:100%;
    height:calc(100% - 3.82vw);
    object-fit:cover;
    border-radius:20px 20px 0px 0px;
}

/* hauteur de chaque vignette activité */
.vignette-activite:nth-child(1){height:30.90vw}
.vignette-activite:nth-child(2){height:16.32vw;}
.vignette-activite:nth-child(3){height:11.46vw;}
.vignette-activite:nth-child(4){height:30.90vw}
.vignette-activite:nth-child(5){height:13.54vw;}
.vignette-activite:nth-child(6){height:14.58vw;}

footer
{
    background-color:#F2F2F2;
    padding:2vw;
}

.foot_colonne /* les 3 colonnes dans le pied de page */
{
    display:inline-block;
    width:15vw;
    margin-right:13vw;
    vertical-align:top;
}

footer h3 /* titres des 3 colonnes du pied de page */
{
    font-size:1vw;
    margin-bottom:1.3vw;
    font-weight:bolder;
}

footer a /* liens dans le pied de page */
{
    color:black;
    text-decoration:none;
    display:block;
    margin-bottom:0.8vw;
    font-size:1vw;
}